.order {
    position: relative;
}

.details-btn {
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: green;
    transition: 0.5s;
}

.details-btn:hover {
    color: green;
    background-color: white;
    outline: 1px solid green;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 575px) {
    .card {
        margin: 0 auto;
        width: 250px;
        height: 450px;
        position: relative;
    }
}

.order-details {
    margin-top: -410px;
    height: 410px;
    overflow: auto;
    transition:0.3s;
}

.hide-details {
    opacity: 0;
}

.show-details {
    opacity: 1;
}

.animate-details {
    margin-top: 0;
}

.animate-details-back {
    margin-top: -410px;
}

.arrow {
    transform: rotate(180deg);
}