<section class="d-flex justify-content-center align-items-center">
    <div class="contater mt-5 w-50 bg-light-main p-3 rounded shadow">
        <div class="send-email" *ngIf="phase === 1">
            <label for="email">Email</label>
            <input type="text" class="form-control" placeholder="Email..." [(ngModel)]="email">
            <p class="alert alert-danger" *ngIf="error"> {{ error }} </p>
            <button class="main-btn mt-3" (click)="sendResetCode(email, btn, span)" #btn><span #span>Send Reset Code</span></button>
        </div>
        <div class="verify-code" *ngIf="phase === 2">
            <p class="text-main">Reset code has been sent to your email</p>
            <label for="email">Reset Code:</label>
            <input type="text" class="form-control" placeholder="Reset Code..." [(ngModel)]="resetCode">
            <p class="alert alert-danger" *ngIf="error"> {{ error }} </p>
            <button class="main-btn mt-3" (click)="verifyResetCode(resetCode, btn, span)" #btn><span #span>Verify Reset Code</span></button>
        </div>
        <div class="verify-code" *ngIf="phase === 3">
            <label for="email">New Password:</label>
            <input type="text" class="form-control" placeholder="Password..." [(ngModel)]="newPassword">
            <p class="alert alert-danger" *ngIf="error"> {{ error }} </p>
            <button class="main-btn mt-3" (click)="updatePassword(newPassword, btn, span)" #btn><span #span>Set New Password</span></button>
        </div>
    </div>
</section>