<app-loading-animation *ngIf="loading"></app-loading-animation>

<section *ngIf="!loading">
    <div class="row g-3 mt-2">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 justify-content-space" *ngFor="let category of categories">
            <div class="card p-3 shadow" role="button" [routerLink]="['/category', category._id]">
                <img class="w-100" height="300" [src]="category.image" alt="">
                <h3 class="h4 text-main"> {{ category.name }} </h3>
            </div>
        </div>
    </div>
</section>